@font-face {
  font-family: "Nautilus Pompilius";
  src: url("../fonts/NautilusPompilius.eot");
  src: local("Nautilus Pompilius Regular"), local("NautilusPompilius"),
    url("../fonts/NautilusPompilius.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NautilusPompilius.woff2") format("woff2"),
    url("../fonts/NautilusPompilius.woff") format("woff"),
    url("../fonts/NautilusPompilius.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
.pass-test {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pass-test__content {
  height: 100%;
}
.button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 100%;
  font-weight: bold;
  padding: 14px 20px;
}
.button--primary {
  color: #fff;
  box-shadow: 0 2px 10px #f65d77;
  background: linear-gradient(180deg, #f492b2 0%, #f65d77 100%);
}
.pass-test__button {
  max-width: 300px;
}
.quiz {
  /* border: 4px solid #999; */
  background: #fff;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  height: 70vh;
  max-height: 890px;
}
.quiz-head {
  padding: 41px 0 34px 43px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f492b2;
}
.quiz-head__logo {
  width: 87px;
  display: block;
}
.quiz-head__hint {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-left: 78px;
}
.quiz-body {
  padding: 60px 0 47px 64px;
}
.form__fieldset {
  padding: 0;
}
.form__wrap {
  display: flex;
  flex-wrap: wrap;
}
.form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #595354;
  margin-bottom: 30px;
}
.form__label-radio {
  margin-right: 42px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  max-width: 240px;
  box-shadow: 0 6px 23px rgba(0, 0, 0, 0.1);
}
.form__label-radio:last-child {
  margin-right: 0;
}
.form__label-radio.active-radio {
  box-shadow: 0 6px 23px rgba(246,93,119, 0.25);
}
.form__radio {
  display: none;
}
.form__image {
  width: 100%;
  height: 247px;
  overflow: hidden;
}
.form__answer {
  text-align: center;
  padding: 12px;
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
  color: #595354;
  width: 100%;
  height: 49px;
  align-items: center;
  justify-content: center;
}
.form-button__indent{
  margin-top: 50px;
  margin-left: auto;
  display: flex;
  align-self: center;
}
.form-button__btn-next {
  min-width: 171px;
  display: block;
  margin-right: 375px;
  text-align: left;
  padding-left: 35px;
  position: relative;
}
.form-button__btn-next::after {
  content: "";
  position: absolute;
  top:19px;
  right: 30px;
  background: url(../img/next.svg) no-repeat;
  width: 35px;
  height: 8px;
}